<!DOCTYPE html>
<html>
<head>
    <title>Facts about Book of Facts</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
body {
    color: #cf995f;
    font-size: 0.9em;
    background: #452A38;
  }

p, span {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

p.monster {
    padding-top: 5px;
    padding-left: 5px;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
    color: #E2CE9D;
    background: #24191f;
}

p.monster span.comment {
    color: #cf995f;
    font-size: 0.9em;
    font-style: oblique;
  }

p.monster span.zone {
    color: #cf995f;
    font-size: 0.8em;
    font-weight: 300;
}

span.zone {
    display: inline-block;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.hidden .spoiler {
    display: none;
  }

.spoiler {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.7em;
    margin-left: 3%;
    padding: .5em 1em 1em .5em;
    background: #2e1f27;
    border-radius: 0px 0px 10px 10px;
}

.spoiler-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #E2CE9D, #cf995f);
    font-size: 1.5em;
    user-select: none;
    cursor: pointer;
    border-radius: 9px 9px 0px 9px;
    padding: 8px;
    color: #2e1f27;
  }

.hidden .spoiler-inner {
    color: #cf995f;
    border-radius: 9px;
    background: linear-gradient(#2e1f27, #24191f);
  }

.spoiler-outer {
    margin: .5em;
  }

form {
    display: flex;
    align-items: center;
    background: #2e1f27;
    font-weight: 600;
    padding: 15px;
    border-radius: 15px;
  }

select {
    margin-left: 1em;
    margin-right: 2em;
  }

footer {
    text-shadow: 2px 2px #2e1f27;
    padding-right: 60px;
    margin-right: 10px;
    margin-top: 2em;
    background: linear-gradient(to left,
        #edd382 0px 10px, /* Theme colour A  */
        #cf995f 10px 20px,  /* Theme colour B */
        #2e1f27 20px 30px, /* Theme colour C */
        #24191f 30px 40px, /* Theme colour D */
        #452A38 40px);  /* Theme colour E */
  }
</style>
    <script>
        function toggleSpoiler(spoiler_id) {
            document.getElementById(spoiler_id).classList.toggle('hidden');
        }
        function openAllSpoilers() {
            for (let element of document.getElementsByClassName('spoiler-outer')) {
                element.classList.remove('hidden');
            }
        }
    </script>
</head>
<body>
    <form action="/" method="get">
        <label for="class">Class:</label>
        <select name="class">
            <% classes.forEach(function(class_) { %>
                <option value="<%= class_.id %>" <%= selectedClass === class_.id ? 'selected' : '' %>><%= class_.name %></option>
            <% }); %>
        </select>

        <label for="path">Path:</label>
        <select name="path">
            <% paths.forEach(function(path) { %>
                <option value="<%= path.id %>" <%= selectedPath === path.id ? 'selected' : '' %>><%= path.name %></option>
            <% }); %>
        </select>

        <button type="submit">Update</button>
    </form>
    <button onclick="openAllSpoilers()">Open all</button>

    <% let blockId = 0; %>
    <% Object.entries(results).forEach(function([result, resArr]) { %>
        <% resArr.sort((a, b) => a.monster.localeCompare(b.monster)); %>
        <div class="spoiler-outer hidden" id="<%= blockId %>">
            <div class="spoiler-inner" onclick="toggleSpoiler('<%= blockId %>')">
                <p><%= result %></p>
                <p><%= resArr.length %></p>
            </div>
            <div class="spoiler">
                <% resArr.forEach(function(res) { %>
                    <p class="monster">
                        <%= res.monster %>
                        <% if (res.comment) { %>
                            <br><span class="comment"><%= res.comment %></span>
                        <% } %>
                        <% res.zones.map(info => { %>
                            <br><span class="zone"><%= info %></span>
                        <% }); %>
                    </p>
                <% }); %>
            </div>
        </div>
        <% blockId++; %>
    <% }); %>

    <footer>
        <p style="text-align: right">Made by Semenar (#3275442)</p>
    </footer>
</body>
</html> 
